<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Studio</title>
    <meta name="viewport" content="width=device-width,  minimum-scale=1,  maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Your styles -->
    <link href="css/style.css" rel="stylesheet" media="screen">  

    <!-- Skins Theme -->
    <link href="css/skins/orange/orange.css" rel="stylesheet" media="screen" class="skin">

    <!-- styles for IE -->
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
    <![endif]-->


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   

    <!-- Skins Changer-->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <script src="js/modernizr.js"></script>

  </head>
  <body> 

  <!--Layout Theme Options-->
  <div id="layout" class="center">
      <!-- Header -->
      <header>
          <!-- Menu -->
          <nav>
            <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="logo left">
                  <div class="col-md-1">
                    <a href="index.html" class="logo_small"></a>
                  </div>                  
                </div>
                <!-- end Logo -->
                
                <!-- Menu -->
                <div class="col-md-11">

                 <!-- Menu-->
                   <ul id="menu" class="sf-menu right">

                     <li class="selected">
                      <a href="index.html#home">Home</a>
                      <span>|</span>
                     </li>

                     <li>
                      <a href="index.html#work">Work</a>
                      <span>|</span>
                     </li>

                     <li>
                      <a href="index.html#about">About</a>
                      <span>|</span>
                     </li>

                     <li>
                      <a href="index.html#blog">Blog <i class="fa fa-angle-down"></i></a>
                      <span>|</span>
                        <ul>                                  
                          <li><a href="single-post.html">Single Page</a></li>
                        </ul>
                      </li> 

                      <li>
                        <a href="index.html#services">Services</a>
                        <span>|</span>
                      </li> 
                      
                      <li>
                        <a href="#">Features <i class="fa fa-angle-down"></i></a>
                        <ul>   

                          <li><a href="elements.html">Elements</a></li>

                          <li><a href="icons.html">Icons</a></li>

                          <li><a href="404_page.html">404 Page</a></li>

                          <li><a href="#">Sidebars</a>
                            <ul>
                              <li><a href="single-post-left.html">Left</a></li>
                              <li><a href="single-post.html">Right</a></li>
                              <li><a href="single-post-full.html">Full Width</a></li>
                            </ul>
                          </li> 

                        </ul>                        
                        <span>|</span>
                      </li> 

                      <li>
                        <a href="#contact">Contact</a>
                      </li>

                   </ul>
                  <!-- End Menu-->

               </div>
            </div>
          </nav>
          <!-- end Menu -->
      </header>
      <!-- Header -->

      <!-- Slide -->   
      <section id="slide">   
        <div class="camera_wrap camera_white_skin pattern_1" id="slider">

              <!-- Item Slide style_one no picture--> 
              <div  data-src="img/slide/slides/4.jpg"></div>
              <!-- End Item Slide style_one no picture-->  

              <!-- Item Slide style_one--> 
              <div  data-src="img/slide/slides/1.jpg"></div>
              <!-- End Item Slide style_one -->  

              <!-- Item Slide style_one--> 
              <div  data-src="img/slide/slides/2.jpg"></div>
              <!-- End Item Slide style_one -->  

              <!-- Item Slide style_two--> 
              <div  data-src="img/slide/slides/3.jpg"></div>
              <!-- End Item Slide style_two --> 

        </div>  
      </section>      
      <!-- End Slide --> 
      
      <!--Elements-->
      <div class="elements left">
              
               <div class="container">

                    <div class="row">
                        <div class="col-md-6">
                            <h2>Buttons</h2>

                            <button type="button" class="btn btn-default">Default</button>

                            <button type="button" class="btn btn-primary">Primary</button>

                            <button type="button" class="btn btn-success">Success</button>

                            <button type="button" class="btn btn-info">Info</button>

                            <button type="button" class="btn btn-warning">Warning</button>

                            <button type="button" class="btn btn-danger">Danger</button>

                            <button type="button" class="btn btn-link">Link</button>

                            <h2 class="spaced padding-top-mini">Buttons Disabled</h2>

                            <button type="button" class="btn btn-lg btn-primary" disabled="disabled">Primary button</button>
                            <button type="button" class="btn btn-default btn-lg" disabled="disabled">Button</button>

                        </div>

                        <div class="col-md-6">
                            <h2>Buttons Sizes</h2>

                            <p>
                                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                            </p>
                            <p>
                                <button type="button" class="btn btn-primary">Default button</button>
                            </p>
                            <p>
                                <button type="button" class="btn btn-primary btn-sm">Small button</button>
                            </p>
                            <p>
                                <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                            </p>

                        </div>
                    </div>

                    <hr class="tall">

                    <div class="row">
                        <div class="col-md-6">
                            <h2>Images</h2>
                            <img class="img-rounded" alt="165x165" style="width: 165px; height: 165px;" src="img/holder.png" >
                            <img class="img-circle" alt="165x165" style="width: 165px; height: 165px;" src="img/holder.png" >
                            <img class="img-thumbnail" alt="165x165" style="width: 165px; height: 165px;" src="img/holder.png" >
                        </div>
                        <div class="col-md-6">
                            <h2>Thumbnails</h2>

                            <div class="row">
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">
                                        <img src="img/holder.png" alt="">
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">
                                        <img src="img/holder.png" alt="">
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">
                                        <img src="img/holder.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="tall">

                    <div class="row">
                        <div class="col-md-6">
                            <h2>Tabs</h2>

                             <div class="tabs">
                                <ul class="nav nav-tabs">
                                     <li class="active"><a href="#popularPosts" data-toggle="tab"><i class="fa fa-star"></i> Popular</a></li>
                                    <li class=""><a href="#recentPosts" data-toggle="tab">Recent</a></li>
                                 </ul>
                                <div class="tab-content">

                                    <div class="tab-pane active" id="popularPosts">
                                        <ul class="simple-post-list">
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="blog-post.html">
                                                            <img src="img/tab01.jpg" alt="">
                                                        </a>
                                                     </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="blog-post.html">Pellentesque habitant morbi.</a>
                                                    <div class="post-meta">
                                                            Nov 25 / 7 / 2013
                                                     </div>
                                                 </div>
                                            </li>

                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="blog-post.html">
                                                            <img src="img/tab02.jpg" alt="">
                                                        </a>
                                                     </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="blog-post.html">Pellentesque habitant morbi.</a>
                                                    <div class="post-meta">
                                                            Nov 25 / 7 / 2013
                                                     </div>
                                                 </div>
                                            </li>

                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="blog-post.html">
                                                            <img src="img/tab03.jpg" alt="">
                                                        </a>
                                                     </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="blog-post.html">Pellentesque habitant morbi.</a>
                                                    <div class="post-meta">
                                                            Nov 25 / 7 / 2013
                                                     </div>
                                                 </div>
                                            </li>
                                              
                                        </ul>
                                    </div>

                                    <div class="tab-pane" id="recentPosts">
                                        <ul class="simple-post-list">
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="blog-post.html">
                                                             <img src="img/tab02.jpg" alt="">
                                                        </a>
                                                    </div>
                                                 </div>
                                                <div class="post-info">
                                                    <a href="blog-post.html">Pellentesque habitant morbi.</a>
                                                    <div class="post-meta">
                                                         Nov 25 / 7 / 2013
                                                    </div>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="blog-post.html">
                                                            <img src="img/tab01.jpg" alt="">
                                                        </a>
                                                     </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="blog-post.html">Pellentesque habitant morbi.</a>
                                                    <div class="post-meta">
                                                            Nov 25 / 7 / 2013
                                                     </div>
                                                 </div>
                                            </li>

                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="blog-post.html">
                                                            <img src="img/tab03.jpg" alt="">
                                                        </a>
                                                     </div>
                                                </div>
                                                <div class="post-info">
                                                    <a href="blog-post.html">Pellentesque habitant morbi.</a>
                                                    <div class="post-meta">
                                                            Nov 25 / 7 / 2013
                                                     </div>
                                                 </div>
                                            </li>
                                              
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <h2 class="short">Accordion</h2>

                            <div class="accordion-trigger"><i class="fa fa-android"></i> Questions 1</div>     
                            <div class="accordion-container">       
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                            </div>

                            <div class="accordion-trigger"><i class="fa fa-apple"></i> Questions 2</div>     
                            <div class="accordion-container">       
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                            </div>

                            <div class="accordion-trigger"><i class="fa fa-windows"></i> Questions 3</div>     
                            <div class="accordion-container">       
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                            </div>
                         
                        </div>

                    </div>

                    <hr class="tall">

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="short">Alerts</h2>
                            <p>Styles for success, info, warning, and error messages</p>

                            <div class="alert alert-success">
                                <strong>Well done!</strong> You successfully read this important alert message.
                            </div>

                            <div class="alert alert-info">
                                <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                            </div>

                            <div class="alert alert-warning">
                                <strong>Warning!</strong> Best check yo self, you're not looking too good.
                            </div>

                            <div class="alert alert-danger">
                                <strong>Oh snap!</strong> Change a few things up and try submitting again.
                            </div>
                        </div>
                    </div>

                    <hr class="tall">

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="short">Progress Bar</h2>

                            <div class="progress-bars">
                                <div class="progress-label">
                                    <span>HTML/CSS</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%" style="width: 100%;">
                                        <span class="progress-bar-tooltip" style="opacity: 1;">100%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>Design</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="300" style="-webkit-animation: 300ms; width: 85%;">
                                        <span class="progress-bar-tooltip" style="opacity: 1;">85%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>WordPress</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="75%" data-appear-animation-delay="600" style="-webkit-animation: 600ms; width: 75%;">
                                        <span class="progress-bar-tooltip" style="opacity: 1;">75%</span>
                                    </div>
                                </div>
                                <div class="progress-label">
                                    <span>Photoshop</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="900" style="-webkit-animation: 900ms; width: 85%;">
                                        <span class="progress-bar-tooltip" style="opacity: 1;">85%</span>
                                    </div>
                                </div>
                            </div>

                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" style="width: 20%">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" style="width: 60%">
                                    <span class="sr-only">60% Complete (warning)</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" style="width: 80%">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-info" style="width: 40%">
                                    <span class="sr-only">40% Complete (info)</span>
                                </div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar" style="width: 45%">
                                    <span class="sr-only">45% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="tall">

                    <div class="row work">

                        <!--Carousel-->
                        <ul class="ch-grid center">

                          <!--Item-->
                          <li>
                            <div class="ch-item ch-img-1">
                              <div class="ch-info center">
                                <h2>consectetur adipiscing elit</h2>
                                <div class="divisor"></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur.</p>
                                <a class="fancybox" title="" href="img/lightbox01.jpg">View</a>
                              </div>
                            </div>
                          </li>
                          <!--Item-->

                          <!--Item-->
                          <li>
                            <div class="ch-item ch-img-2">
                              <div class="ch-info center">
                                <h2>consectetur adipiscing elit</h2>
                                <div class="divisor"></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur.</p>
                                <a class="fancybox" title="" href="img/lightbox02.jpg">View</a>
                              </div>
                            </div>
                          </li>
                          <!--Item-->

                          <!--Item-->
                          <li>
                            <div class="ch-item ch-img-3">
                              <div class="ch-info center">
                               <h2>consectetur adipiscing elit</h2>
                                <div class="divisor"></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur.</p>
                                <a class="fancybox" title="" href="img/lightbox03.jpg">View</a>
                              </div>
                            </div>
                          </li>
                          <!--Item-->

                          <!--Item-->
                          <li>
                            <div class="ch-item ch-img-4">
                              <div class="ch-info center">
                               <h2>consectetur adipiscing elit</h2>
                                <div class="divisor"></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur.</p>
                                <a class="fancybox" title="" href="img/lightbox04.jpg">View</a>
                              </div>
                            </div>
                          </li>
                          <!--Item-->

                        </ul>
                        <!--Carousel-->
                    </div>                    

                    <div class="row center">
                        <h2 class="short">Simple Slide</h2>
                            
                            <!-- Simple-slide --> 
                            <div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example">
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="img/blog/01.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="img/blog/02.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- End Simple-slide -->   
                    </div>    

                    <hr class="tall">

                    <div class="row">
                        <div class="col-md-6">

                            <h2 class="short">Forms</h2>
                            <p>Individual form controls automatically receive some global styling.</p>
                            <form>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label>Your name *</label>
                                            <input type="text" value="" maxlength="100" class="form-control" name="name" id="name">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Your email address *</label>
                                            <input type="email" value="" maxlength="100" class="form-control" name="email" id="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Comment *</label>
                                            <textarea maxlength="5000" rows="10" class="form-control" name="comment" id="comment" style="height: 138px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" value="Post Comment" class="btn btn-primary btn-lg" data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-6">

                            <h2 class="short">Pagination</h2>

                            <p class="short">Large</p>
                            <ul class="pagination pagination-lg">
                                <li><a href="#">«</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>

                            <p class="short">Default</p>
                            <ul class="pagination">
                                <li><a href="#">«</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>

                            <p class="short">Small</p>
                            <ul class="pagination pagination-sm">
                                <li><a href="#">«</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>

                        </div>

                    </div>
                </div>
                       
               
        <div class="pattern_top"></div>
      </div>
      <!--Elements-->

      <!-- Contact -->
      <section class="color contact_us" id="contact">        

         <div class="container">
          <div class="row">
              <h2>Contact</h2>

            <div class="clearfix"></div>
            <div class="divider_dark line"></div>

              <p>We’re always looking for new projects to work on, if you have some please write us!</p>
              <h3><a href="mailto:info@domain.com"><i class="fa fa-envelope"></i> contact@domain.com</a></h3>

              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Send a Message</button>
              <!-- Modal -->
              <div class="modal fade left" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Send us a Message</h4>
                    </div>
                    <div class="modal-body">
                      <!--Form Contact-->
                        <form class="form-contact" action="php/send-mail-contact.php">

                          <div class="form_contact">
                            <input type="text" class="name form-control" placeholder="Full Name" required="required" name="Name">
                            <input type="email" class="email form-control" placeholder="Email" required="required" name="Email">
                            <textarea class="form-control" rows="4" placeholder="Message" required="required" name="Message"></textarea>
                            <div class="clearfix"></div>
                          </div>

                          <input type="submit" class="botton" value="Send Message" name="subscribe">

                          <div class="result"></div>
                        </form>
                      <!--Form Contact-->
                    </div>
                  </div>
                </div>
              </div>

            <div class="clearfix"></div>
            <div class="divider_dark line"></div>

            <div class="row">
              <div class="col-md-6 right">
                <div class="number">
                  <p><i class="fa fa-mobile-phone"></i> +51 2526148681</p>
                </div>
              </div>

              <div class="col-md-6 left">
                <div class="address">
                  <p>
                  <i class="fa fa-map-marker"></i> 
                  80, Street name postal code,city name <br><span>Country</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end Contact -->

      <footer>
        <div class="container">
          <div class="row">
            <div class="social_icon footer">
              <ul>
                  <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

  </div>
  <!--Layout Theme Options-->

      <!-- ======================= JQuery libs =========================== -->
         <!-- Always latest version of jQuery-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
         <!-- jQuery local-->    
        <script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script> 
        <!--Ligbox--> 
        <script type="text/javascript" src="js/fancybox/jquery.fancybox.js"></script> 
        <!--Totop-->
        <script type="text/javascript" src="js/totop/jquery.ui.totop.js" ></script>  
        <!--Scroll-->   
        <script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- Nicescroll -->
        <script src="js/scrollbar/jquery.nicescroll.js"></script> 
        <!-- flickr Feed-->
        <script src="js/flickr/jflickrfeed.min.js"></script>  
        <!-- Carrousel --> 
        <script src="js/carousel/carousel.js"></script> 
        <!--Nav-->
        <script type="text/javascript" src="js/nav/tinynav.js"></script> 
        <script type="text/javascript" src="js/nav/superfish.js"></script>  
        <script src="js/smooth-scroll.js" type="text/javascript"></script>  
        <!--Theme Options-->
        <script type="text/javascript" src="js/theme-options/theme-options.js"></script>
        <script type="text/javascript" src="js/theme-options/jquery.cookies.js"></script>  
        <!--Slide-->
        <script type="text/javascript" src="js/slide/camera.js" ></script>      
        <script type='text/javascript' src='js/slide/jquery.easing.1.3.min.js'></script>         
        <!-- Bootstrap.js-->
        <script src="js/bootstrap.js"></script>
        <!--fUNCTIONS-->
        <script type="text/javascript" src="js/jquery-func.js"></script>
      <!-- ======================= End JQuery libs =========================== -->

    </body>
</html>
