<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Studio</title>
    <meta name="viewport" content="width=device-width,  minimum-scale=1,  maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Your styles -->
    <link href="css/style.css" rel="stylesheet" media="screen">  

    <!-- Skins Theme -->
    <link href="css/skins/orange/orange.css" rel="stylesheet" media="screen" class="skin">

    <!-- styles for IE -->
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
    <![endif]-->


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   

    <!-- Skins Changer-->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <script src="js/modernizr.js"></script>

  </head>
  <body> 

  <!--Layout Theme Options-->
  <div id="layout" class="center">
      <!-- Header -->
      <header>
          <!-- Menu -->
          <nav>
            <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="logo left">
                  <div class="col-md-1">
                    <a href="index.html" class="logo_small"></a>
                  </div>                  
                </div>
                <!-- end Logo -->
                
                <!-- Menu -->
                <div class="col-md-11">

                  <!-- Menu-->
                   <ul id="menu" class="sf-menu right">

                     <li class="selected">
                      <a href="index.html#home">Home</a>
                      <span>|</span>
                     </li>

                     <li>
                      <a href="index.html#work">Work</a>
                      <span>|</span>
                     </li>

                     <li>
                      <a href="index.html#about">About</a>
                      <span>|</span>
                     </li>

                     <li>
                      <a href="index.html#blog">Blog <i class="fa fa-angle-down"></i></a>
                      <span>|</span>
                        <ul>                                  
                          <li><a href="single-post.html">Single Page</a></li>
                        </ul>
                      </li> 

                      <li>
                        <a href="index.html#services">Services</a>
                        <span>|</span>
                      </li> 
                      
                      <li>
                        <a href="#">Features <i class="fa fa-angle-down"></i></a>
                        <ul>   

                          <li><a href="elements.html">Elements</a></li>

                          <li><a href="icons.html">Icons</a></li>

                          <li><a href="404_page.html">404 Page</a></li>

                          <li><a href="#">Sidebars</a>
                            <ul>
                              <li><a href="single-post-left.html">Left</a></li>
                              <li><a href="single-post.html">Right</a></li>
                              <li><a href="single-post-full.html">Full Width</a></li>
                            </ul>
                          </li> 

                        </ul>                        
                        <span>|</span>
                      </li> 

                      <li>
                        <a href="#contact">Contact</a>
                      </li>

                   </ul>
                  <!-- End Menu-->

                </div>                
                <!-- end Menu -->
            </div>
            </div>
          </nav>
          <!-- end Menu -->
      </header>
      <!-- Header -->

      <!-- Slide -->   
      <section id="slide">   
        <div class="camera_wrap camera_white_skin pattern_1" id="slider">

              <!-- Item Slide style_one no picture--> 
              <div  data-src="img/slide/slides/4.jpg"></div>
              <!-- End Item Slide style_one no picture-->  

              <!-- Item Slide style_one--> 
              <div  data-src="img/slide/slides/1.jpg"></div>
              <!-- End Item Slide style_one -->  

              <!-- Item Slide style_one--> 
              <div  data-src="img/slide/slides/2.jpg"></div>
              <!-- End Item Slide style_one -->  

              <!-- Item Slide style_two--> 
              <div  data-src="img/slide/slides/3.jpg"></div>
              <!-- End Item Slide style_two --> 

        </div>  
      </section>      
      <!-- End Slide --> 
      
      <!--Single Post-->
      <div class="single_post left">
        <div class="container">
          <div class="col-md-9">

            <!--Carousel-->
            <ul class="carousel_singlepost">

              <li class="image_single_post">
                <img src="img/blog/01.jpg" alt="">
                <a href="img/blog/01preview.jpg" class="fancybox" title="Zoom Image" rel="group"></a>
              </li>

              <li class="image_single_post">
                <img src="img/blog/02.jpg" alt="">
                <a href="img/blog/02preview.jpg" title="Zoom Image" class="fancybox" rel="group"></a>
              </li>
                
            </ul>
            <!--Carousel-->

            <h2>Example of Single Post</h2>
            <ul>
              <li>
                <p><i class="fa fa-edit"></i> September 06, 2013<span>|</span></p>
              </li>
              <li><p><a href="#">3 Comments</a><span>|</span></p></li>
              <li><p><a href="#">Articles</a></p></li>
            </ul>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <p><span class="dropcap2">A</span>tiam pellentesque, magna eget lobortis placerat, leo leo consequat ante, non iaculis turpis augue ac ligula. Nunc blandit tincidunt consequat. Duis diam metus, suscipit in pulvinar eget, egestas id arcu. Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper neque auctor. Aenean ligula mi, auctor sed tempus ultrices, semper tempus diam.</p>
            <blockquote><p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p></blockquote>

            <p>Lorem ipsum dolor sit amet, <kbd>consectetur adipisicing elit,</kbd> sed do eiusmod ut aliquip ex eacommodo consequat ut aliquip ex eacommodo consequat <span class="label label-default">tempor incididunt ut labore</span> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi . Duis aute irure dolor in reprehenderit in <span class="label label-danger">voluptate velit esse cillum dolore</span> eu fugiat nulla pariatur.</p>


            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

            <pre>
&lt;!DOCTYPE html&gt; 
  &lt;html lang="en"&gt; 
    &lt;head&gt;

    &lt;/head&gt;
  &lt;/body&gt;
            </pre>

            <!--Tags-->
            <ul class="tags">
              <li>Tags:</li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">Mobile</a></li>
              <li><a href="#">Art</a></li>
            </ul>
            <!--Tags-->

            <div class="divider_dark"></div>

            <!--Comment Author-->
            <div class="author">              
            <img src="img/avatar.png" alt="author-gravatar">
            <div class="author_about">
              <h2>Author: <a href="#">Jekamabu</a></h2>
              <p>Nunc blandit tincidunt consequat. Duis diam metus, suscipit in pulvinar eget, egestas id arcu. Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper neque auctor.</p>             
            </div>
          </div>
          <!--Comment Author-->
          
          <div class="divider_dark"></div>

          <h2>More Comments..</h2>

          <!--Comments-->
            <div class="comments">              
            <img src="img/avatar_small.png" alt="avatar">
            <div class="comment_body">
              <h3><a href="#">Jeniffer</a><span> on December 31, 2011, at 15:34pm</span><a class="reply" href="#">Reply</a> </h3>
              <p>Nunc blandit tincidunt consequat. Duis diam metus, suscipit in pulvinar eget, egestas id arcu. Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper neque auctor.</p> 
                         
            </div>
          </div>
          <!--Comments-->

          <div class="divider_dark"></div>

          <!--Comments-->
            <div class="comments">              
            <img src="img/avatar_small.png" alt="avatar">
            <div class="comment_body">
              <h3><a href="#">JuanR</a><span> on October 31, 2011, at 5:34am</span><a class="reply" href="#">Reply</a> </h3>
              <p>Nunc blandit tincidunt consequat. Duis diam metus, suscipit in pulvinar eget, egestas id arcu. Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper neque auctor.</p> 
                         
            </div>
          </div>
          <!--Comments-->

          <div class="divider_dark"></div>

          <!--Comments-->
            <div class="comments child_comment">              
            <img src="img/avatar_small.png" alt="avatar">
            <div class="comment_body">
              <h3><a href="#">Foque</a><span> on October 31, 2011, at 5:34am</span><a class="reply" href="#">Reply</a> </h3>
              <p>Nunc blandit tincidunt consequat. Duis diam metus, suscipit in pulvinar eget, egestas id arcu. Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper neque auctor.</p> 
                         
            </div>
          </div>
          <!--Comments-->

           <div class="divider_dark"></div>

          <!--Comments-->
            <div class="comments child_comment">              
            <img src="img/avatar_small.png" alt="avatar">
            <div class="comment_body">
              <h3><a href="#">Foque</a><span> on October 31, 2011, at 5:34am</span><a class="reply" href="#">Reply</a> </h3>
              <p>Nunc blandit tincidunt consequat. Duis diam metus, suscipit in pulvinar eget, egestas id arcu. Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper neque auctor.</p> 
                         
            </div>
          </div>
          <!--Comments-->

          <div class="divider_dark"></div>

          <h2>What's your Opinion?</h2>
          <!--Form Message-->
          <form class="form_contact" action="#">

            <div class="row">

              <div class="col-md-4">
                <input type="text" class="name form-control" placeholder="Full Name" required="required" name="Name">
              </div>

              <div class="col-md-4">
                <input type="email" class="email form-control" placeholder="Email" required="required" name="Email">
              </div>

              <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Site" required="required" name="Site">
              </div>

            </div>

              <textarea class="form-control" rows="10" placeholder="Message..." required="required" name="Message"></textarea>
              <div class="clearfix"></div>

              <input type="submit" value="Send Message" name="subscribe">

            <div class="result"></div>

          </form>
          <!--Form Message-->

        </div>

          <aside class="col-md-3">

            <form class="search" action="#" method="Post">
              <div class="input-group">
                <input class="form-control" placeholder="Search..." name="search" type="text" required="required">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" name="subscribe">Go!</button>
                  </span>
              </div>
            </form>

            <h3>Recent Posts</h3>
            <!--Item Blog-->
            <div class="sidebar_post">
              <h5><a href="blog-single.html">How to know more about all us</a></h5>
              <span>23 July 2012 / <a href="#">5 Comments</a></span>          
            </div>
            <!--Item Blog-->

            <!--Item Blog-->
            <div class="sidebar_post">
              <h5><a href="blog-single.html">How to know more about all us</a></h5>
              <span>23 July 2012 / <a href="#">5 Comments</a></span>          
            </div>
            <!--Item Blog-->

            <!--Item Blog-->
            <div class="sidebar_post">
              <h5><a href="blog-single.html">How to know more about all us</a></h5>
              <span>23 July 2012 / <a href="#">5 Comments</a></span>          
            </div>
            <!--Item Blog-->

            <!--Categories-->
            <h3>Categories</h3>
            <ul class="sidebar_category">
              <li><a href="#">Advertising</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Media</a></li>
              <li><a href="#">Small Business</a></li>
              <li><a href="#">Web Applications</a></li>
            </ul>
            <!--Categories-->

            <!--Flickr Plugin-->
            <h3>Recent flickr</h3>
            <ul id="flickr" class="thumbs"></ul>
            <!--Flickr Plugin-->

          </aside>

        </div>
        <div class="pattern_top"></div>
      </div>
      <!--Single Post-->

      <!-- Contact -->
      <section class="color contact_us" id="contact">        

         <div class="container">
          <div class="row">
              <h2>Contact</h2>

            <div class="clearfix"></div>
            <div class="divider_dark line"></div>

              <p>We’re always looking for new projects to work on, if you have some please write us!</p>
              <h3><a href="mailto:info@domain.com"><i class="fa fa-envelope"></i> contact@domain.com</a></h3>

              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Send a Message</button>
              <!-- Modal -->
              <div class="modal fade left" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Send us a Message</h4>
                    </div>
                    <div class="modal-body">
                      <!--Form Contact-->
                        <form class="form-contact" action="php/send-mail-contact.php">

                          <div class="form_contact">
                            <input type="text" class="name form-control" placeholder="Full Name" required="required" name="Name">
                            <input type="email" class="email form-control" placeholder="Email" required="required" name="Email">
                            <textarea class="form-control" rows="4" placeholder="Message" required="required" name="Message"></textarea>
                            <div class="clearfix"></div>
                          </div>

                          <input type="submit" class="botton" value="Send Message" name="subscribe">

                          <div class="result"></div>
                        </form>
                      <!--Form Contact-->
                    </div>
                  </div>
                </div>
              </div>

            <div class="clearfix"></div>
            <div class="divider_dark line"></div>

            <div class="row">
              <div class="col-md-6 right">
                <div class="number">
                  <p><i class="fa fa-mobile-phone"></i> +51 2526148681</p>
                </div>
              </div>

              <div class="col-md-6 left">
                <div class="address">
                  <p>
                  <i class="fa fa-map-marker"></i> 
                  80, Street name postal code,city name <br><span>Country</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end Contact -->

      <footer>
        <div class="container">
          <div class="row">
            <div class="social_icon footer">
              <ul>
                  <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

  </div>
  <!--Layout Theme Options-->

      <!-- ======================= JQuery libs =========================== -->
        <!-- Always latest version of jQuery-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
         <!-- jQuery local-->    
        <script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script> 
        <!--Ligbox--> 
        <script type="text/javascript" src="js/fancybox/jquery.fancybox.js"></script> 
        <!--Totop-->
        <script type="text/javascript" src="js/totop/jquery.ui.totop.js" ></script>  
        <!--Scroll-->   
        <script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- Nicescroll -->
        <script src="js/scrollbar/jquery.nicescroll.js"></script> 
        <!-- flickr Feed-->
        <script src="js/flickr/jflickrfeed.min.js"></script>  
        <!-- Carrousel --> 
        <script src="js/carousel/carousel.js"></script> 
        <!--Nav-->
        <script type="text/javascript" src="js/nav/tinynav.js"></script> 
        <script type="text/javascript" src="js/nav/superfish.js"></script>  
        <script src="js/smooth-scroll.js" type="text/javascript"></script>  
        <!--Theme Options-->
        <script type="text/javascript" src="js/theme-options/theme-options.js"></script>
        <script type="text/javascript" src="js/theme-options/jquery.cookies.js"></script>  
        <!--Slide-->
        <script type="text/javascript" src="js/slide/camera.js" ></script>      
        <script type='text/javascript' src='js/slide/jquery.easing.1.3.min.js'></script>         
        <!-- Bootstrap.js-->
        <script src="js/bootstrap.js"></script>
        <!--fUNCTIONS-->
        <script type="text/javascript" src="js/jquery-func.js"></script>
      <!-- ======================= End JQuery libs =========================== -->

    </body>
</html>
